#!/usr/bin/make -f
#
# Last updated: Sat Dec 17 10:52:20 EST 1994 by imurdock.
#
# To make the binary distribution package, the ``Debianized'' source package
# and the context diff to the original package, type `./debian.rules dist'.
# Make sure that `debian.rules' is executable before the final distribution
# is made.
#
# Invoke each target with `./debian.rules <target>'.  All targets should be
# invoked with the package root as the current directory.
#
# The `binary' target must be run as root, as it needs to install files with
# specific ownerships.  The `diff' target assumes that you have the original
# source package available, unpacked, in ../$(p)-$(v).orig, or that you have
# the previous revision of the ``Debianized'' source package and context diff
# in the parent directory.

CC = gcc
CFLAGS = -O2
LDFLAGS = -s

dir=`pwd`
arch=`config.guess|sed -e 's/unknown/debian/'`
p=gdb

build:
# Builds the binary package.
	./configure --prefix=/usr $(arch)
	make CC="$(CC)" CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)"
	touch stamp-build

clean:
# Undoes the effect of `make -f debian.rules build'.
	-make distclean
	-make -C gdb/gdbserver distclean
	-find . -name \*.info\* -print | xargs rm
	rm -f stamp-build
	rm -rf debian/tmp debian/*~ debian/*.bak debian/files* debian/substvars

binary: binary-indep binary-arch

binary-indep:
	true

binary-arch:
# Makes a binary package.
	rm -rf debian/tmp
	install -d -m 755 debian/tmp
	chmod g-s debian/tmp
	install -d -m 755 debian/tmp/DEBIAN
	make install prefix=$(dir)/debian/tmp/usr
#	mv -f debian/tmp/usr/bin/$(aa)-linux-gdb \
#	  debian/tmp/usr/bin/gdb
#	mv -f debian/tmp/usr/man/man1/$(aa)-linux-gdb.1 \
#	  debian/tmp/usr/man/man1/gdb.1
	make install-info prefix=$(dir)/debian/tmp/usr
# We need not distribute the includes and libraries.
	rm -rf debian/tmp/usr/$(arch)
	rm -rf debian/tmp/usr/include
	rm -f debian/tmp/usr/info/bfd.*
	rm -f debian/tmp/usr/info/cfg-paper.*
	rm -f debian/tmp/usr/info/configure.*
	rm -f debian/tmp/usr/info/history.*
	rm -f debian/tmp/usr/info/mmalloc.*
	rm -f debian/tmp/usr/info/readline.*
	rm -f debian/tmp/usr/info/standards.*
	rm -rf debian/tmp/usr/lib
	rm -f debian/tmp/usr/man/man1/configure.1
	chmod -R g-w debian/tmp
	install -d -m 755 debian/tmp/usr/doc/$(p)
	install -m 644 debian/copyright debian/tmp/usr/doc/$(p)/copyright
	install -m 755 debian/postinst debian/tmp/DEBIAN/postinst
	install -m 755 debian/prerm debian/tmp/DEBIAN/prerm
	gzip -9f debian/tmp/usr/info/*
	-gzip -9 debian/tmp/usr/man/man*/*
	dpkg-shlibdeps gdb/gdb
	dpkg-gencontrol
	chown -R root.root debian/tmp
	chmod -R a+rX,g-w,o-w,u+w debian/tmp
	dpkg --build debian/tmp ..

source diff:
	echo "Source and diff are obsolete. Use dpkg-source -b instead." >&2
	false

.PHONY: source diff binary binary-arch binary-indep
